
.idea

.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/PS-*

unitspeech/checkpoints/*
unitspeech/outputs
unitspeech/speaker_encoder/checkpts
unitspeech/vocoder/checkpts

unitspeech.egg-info
outputs
text/__pycache__
unitspeech/__pycache__
.mypy_cache
__pycache__
scripts/reference-speech.wav

scripts/reference-speech.wav
reference-speech.wav
outputs
data_preproces
unitspeech/_checkpoints
resources/manifests
unitspeech/.checkpoints
temp
resources/LibriTTS
resources/filelists - ORIGINAL
_text
unitspeech/checkpoints/finetune.json
unitspeech/checkpoints
.vscode/launch.json
conf/config.yaml
